:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #101014;
  --panel: #17171d;
  --border: #2b2b33;
  --accent: #f97316;

  font: 16px/150% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}
